<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite">
    <test name = "Test">
        <classes>
            <class name = "com.ostapiuk.PortalHealthCheckTest" />
            <class name = "com.ostapiuk.PortalLoginTest" />
            <class name = "com.ostapiuk.UserActionsWithDashboardTest" />
            <class name = "com.ostapiuk.UserCanChangeGeneralSettingsTest" />
        </classes>
    </test>
</suite>