<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PortalSuite" parallel="tests">
    <test name="PortalFirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name = "com.ostapiuk.test.PortalHealthCheckTest" />
            <class name = "com.ostapiuk.test.PortalLoginTest" />
            <class name = "com.ostapiuk.test.UserActionsWithDashboardTest" />
            <class name = "com.ostapiuk.test.UserCanChangeGeneralSettingsTest" />
        </classes>
    </test>
    <test name="PortalChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name = "com.ostapiuk.test.PortalHealthCheckTest" />
            <class name = "com.ostapiuk.test.PortalLoginTest" />
            <class name = "com.ostapiuk.test.UserActionsWithDashboardTest" />
            <class name = "com.ostapiuk.test.UserCanChangeGeneralSettingsTest" />
        </classes>
    </test>
</suite>